body {
  background: url("Background Image/faeU0jh.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.center{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center a {
  color: #000000;
  font-size: 50px;
  border-style: solid;
  border-color: #000000;
  text-decoration: none;
}
